<div id="<%= dom_id author %>">
  <p>
    <strong>Description:</strong>
    <%= author.description %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= author.age %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= author.country %>
  </p>

</div>
